/*
  Jinja template for a Gnu flex scanner.
  Render with
  $ scan-gen.py -t flex.j2
*/

%option nodefault
%option noinput nounput
%option noyylineno noyywrap

%%

{% for name in names[:-1] -%}
"{{ name }}" |
{% endfor -%}
"{{ names[-1] }}"   { printf("%s\n", yytext); }

.|\n                /* ignore */

%%

int main(int argc, char* argv[]) {
  if(argc > 1)
    yyin = fopen(argv[1], "r");
  else
    yyin = stdin;

  yylex();
  return 0;
}
