---
- name: Irdownload
  hosts: localhost
  become: yes  # Execute tasks with sudo privileges

  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - apt-transport-https
        - ca-certificates
        - gnupg
        - curl
        - sudo

    - name: Add Google Cloud SDK repository
      lineinfile:
        dest: /etc/apt/sources.list.d/google-cloud-sdk.list
        line: "deb [signed-by=/usr/share/keyrings/cloud.google.asc] https://packages.cloud.google.com/apt cloud-sdk main"
        create: yes

    - name: Import Google Cloud SDK key
      shell: "curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo tee /usr/share/keyrings/cloud.google.asc"
      args:
        warn: false

    - name: Update apt packages with Google Cloud SDK repository
      apt:
        update_cache: yes
        force_apt_get: yes

    - name: Install Google Cloud CLI
      shell: "apt-get install google-cloud-cli"

    - name: Download IR data - BIND_TRANSLATION
        command: "./irdownload BIND_TRANSLATION"
        args:
          chdir: "/home/irefindex/usr/bin"
        ignore_errors: true
        retries: 3
        delay: 5
        async: 15
        poll: 0

    - name: Download IR data - BIOGRID
      command: "./irdownload BIOGRID"
      args:
        chdir: "/home/irefindex/usr/bin"
      ignore_errors: true
      retries: 3
      delay: 5
      async: 15
      poll: 0

    - name: Download IR data - CORUM
      command: "./irdownload CORUM"
      args:
        chdir: "/home/irefindex/usr/bin"
      ignore_errors: true
      retries: 3
      async: 15
      poll: 0
