---
- name: Irdownload
  hosts: localhost
  become: yes  # Execute tasks with sudo privileges

  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - apt-transport-https
        - ca-certificates
        - gnupg
        - curl
        - sudo

    - name: Add Google Cloud SDK repository
      lineinfile:
        dest: /etc/apt/sources.list.d/google-cloud-sdk.list
        line: "deb [signed-by=/usr/share/keyrings/cloud.google.asc] https://packages.cloud.google.com/apt cloud-sdk main"
        create: yes

    - name: Import Google Cloud SDK key
      shell: "curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo tee /usr/share/keyrings/cloud.google.asc"
      args:
        warn: false

    - name: Update apt packages with Google Cloud SDK repository
      apt:
        update_cache: yes
        force_apt_get: yes

    - name: Install Google Cloud CLI
      shell: "apt-get install google-cloud-cli"

    - name: Download IR data
      command: "./irdownload {{ item }}"
      args:
        chdir: "/home/irefindex/usr/bin"
      ignore_errors: true
      retries: 3
      delay: 5
      with_items:
        - BIND_TRANSLATION
        - BIOGRID
        - CORUM
        - DIP
        - HPRD
        - INTACT
        - INTCOMPLEX
        - MPACT
        - MPPI
        - BAR
        - BHF_UCL
        - HPIDB
        - HURI
        - IMEX
        - INNATEDB
        - MATRIXDB
        - MBINFO
        - MINT
        - MPIDB
        - QUICKGO
        - REACTOME
        - UNIPROTPP
        - VIRUSHOST
        - PSI_MI
        - TAXONOMY
        - ATHALIANA
        - BIND
        - DIG
        - FLY
        - GENE
        - GENPEPT
        - IPI
        - MMDB
        - PDB
        - REFSEQ
        - UNIPROT
        - YEAST
      register: download_result

    - name: Fail if download fails after retries
      fail:
        msg: "Download failed for {{ item.item }}"
      when: item.failed
      with_items: "{{ download_result.results }}"
