---
- name: Irparse
  hosts: localhost
  become: yes

  tasks:
    - name: Coverts the downloaded data to files BIND_TRANSLATION
      command: "./irparse BIND_TRANSLATION"
      args:
        chdir: "/home/irefindex/usr/bin"
      ignore_errors: true
      register: bind_translation_result
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files BIOGRID
      command: "./irparse BIOGRID"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: biogrid_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files CORUM
      command: "./irparse CORUM"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: corum_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files DIP
      command: "./irparse DIP"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: dip_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files HPRD
      command: "./irparse HPRD"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: hrpd_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files INTACT
      command: "./irparse INTACT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: intact_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files INTCOMPLEX
      command: "./irparse INTCOMPLEX"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: intcomplex_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files MPACT
      command: "./irparse MPACT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mpact_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files MPPI
      command: "./irparse MPPI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mppi_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files BAR
      command: "./irparse BAR"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: bar_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files BHF_UCL
      command: "./irparse BHF_UCL"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: bhf_ucl_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files HPIDB
      command: "./irparse HPIDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: hpidb_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files HURI
      command: "./irparse HURI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: huri_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files INNATEDB
      command: "./irparse INNATEDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: innatedb_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files IMEX
      command: "./irparse IMEX"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: imex_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files MBINFO
      command: "./irparse MBINFO"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mbinfo_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files MPIDB
      command: "./irparse MPIDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mpidb_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files MINT
      command: "./irparse MINT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mint_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files MATRIXDB
      command: "./irparse MATRIXDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: matrixdb_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files QUICKGO
      command: "./irparse QUICKGO"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: quickgo_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files REACTOME
      command: "./irparse REACTOME"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: reactome_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files VIRUSHOST
      command: "./irparse VIRUSHOST"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: virushost_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files UNIPROTPP
      command: "./irparse UNIPROTPP"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: uniprotpp_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files PSI_MI
      command: "./irparse PSI_MI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: psi_mi_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files TAXONOMY
      command: "./irparse TAXONOMY"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: taxonomy_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files ATHALIANA
      command: "./irparse ATHALIANA"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: athaliana_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files DIG
      command: "./irparse DIG"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: dig_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files BIND
      command: "./irparse BIND"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: bind_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files FLY
      command: "./irparse FLY"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: fly_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files IPI
      command: "./irparse IPI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: ipi_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files GENE
      command: "./irparse GENE"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: gene_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files GENPEPT
      command: "./irparse GENPEPT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: genpept_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files MMDB
      command: "./irparse MMDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mmdb_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files PDB
      command: "./irparse PDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: pdb_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files REFSEQ
      command: "./irparse REFSEQ"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: refseq_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files UNIPROT
      command: "./irparse UNIPROT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: uniprot_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Coverts the downloaded data to files YEAST
      command: "./irparse YEAST"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: yeast_result
      ignore_errors: true
      async: yes
      poll: 0

    - name: Wait for BIND_TRANSLATION to complete
      async_status:
        jid: "{{ bind_translation_result.ansible_job_id }}"
      register: job_result_1
      until: job_result_1.finished
      ignore_errors: true

    - name: Fail the task when conditions are met (BIND_TRANSLATION)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in bind_translation_result.stderr or 'failed' in bind_translation_result.stderr or 'is not formatted correctly' in bind_translation_result.stderr"
      ignore_errors: true

    - name: Wait for BIOGRID to complete
      async_status:
        jid: "{{ biogrid_result.ansible_job_id }}"
      register: job_result_2
      until: job_result_2.finished
      ignore_errors: true

    - name: Fail the task when conditions are met (BIOGRID)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in biogrid_result.stderr or 'failed' in biogrid_result.stderr or 'is not formatted correctly' in biogrid_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (CORUM)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in corum_result.stderr or 'failed' in corum_result.stderr or 'is not formatted correctly' in corum_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (DIP)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in dip_result.stderr or 'failed' in dip_result.stderr or 'is not formatted correctly' in dip_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (HRPD)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in hrpd_result.stderr or 'failed' in hrpd_result.stderr or 'is not formatted correctly' in hrpd_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (INTACT)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in intact_result.stderr or 'failed' in intact_result.stderr or 'is not formatted correctly' in intact_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (INTCOMPLEX)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in intcomplex_result.stderr or 'failed' in intcomplex_result.stderr or 'is not formatted correctly' in intcomplex_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (MPACT)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in mpact_result.stderr or 'failed' in mpact_result.stderr or 'is not formatted correctly' in mpact_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (MPPI)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in mppi_result.stderr or 'failed' in mppi_result.stderr or 'is not formatted correctly' in mppi_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (BAR)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in bar_result.stderr or 'failed' in bar_result.stderr or 'is not formatted correctly' in bar_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (BHF_UCL)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in bhf_ucl_result.stderr or 'failed' in bhf_ucl_result.stderr or 'is not formatted correctly' in bhf_ucl_result.stderr"
      ignore_errors: true

    - name: Continuously check for failure conditions in HPIDB
      block:
        - name: Run HPIDB asynchronously
          async:
            jid: "{{ hpidb_result.ansible_job_id }}"
            poll: 0
          register: job_result_100
          until: job_result_100.finished
          retries: 12
          delay: 30
          ignore_errors: true

        - name: Fail the task when conditions are met (HPIDB)
          fail:
            msg: "Failed"
          when: "'citation suppressed' in job_result_100.stderr or 'failed' in job_result_100.stderr or 'is not formatted correctly' in job_result_100.stderr"
          ignore_errors: true
      loop:
        - 1
      loop_control:
        label: "Check failure conditions"
        sleep: 5
        until: "'citation suppressed' in job_result_100.stderr or 'failed' in job_result_100.stderr or 'is not formatted correctly' in job_result_100.stderr"

    - name: Fail the task when conditions are met (HURI)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in huri_result.stderr or 'failed' in huri_result.stderr or 'is not formatted correctly' in huri_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (IMEX)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in imex_result.stderr or 'failed' in imex_result.stderr or 'is not formatted correctly' in imex_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (INNATEDB)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in innatedb_result.stderr or 'failed' in innatedb_result.stderr or 'is not formatted correctly' in innatedb_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (MATRIXDB)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in matrixdb_result.stderr or 'failed' in matrixdb_result.stderr or 'is not formatted correctly' in matrixdb_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (MBINFO)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in mbinfo_result.stderr or 'failed' in mbinfo_result.stderr or 'is not formatted correctly' in mbinfo_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (MINT)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in mint_result.stderr or 'failed' in mint_result.stderr or 'is not formatted correctly' in mint_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (MPIDB)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in mpidb_result.stderr or 'failed' in mpidb_result.stderr or 'is not formatted correctly' in mpidb_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (QUICKGO)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in quickgo_result.stderr or 'failed' in quickgo_result.stderr or 'is not formatted correctly' in quickgo_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (REACTOME)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in reactome_result.stderr or 'failed' in reactome_result.stderr or 'is not formatted correctly' in reactome_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (UNIPROTPP)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in uniprotpp_result.stderr or 'failed' in uniprotpp_result.stderr or 'is not formatted correctly' in uniprotpp_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (VIRUSHOST)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in virushost_result.stderr or 'failed' in virushost_result.stderr or 'is not formatted correctly' in virushost_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (PSI_MI)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in psi_mi_result.stderr or 'failed' in psi_mi_result.stderr or 'is not formatted correctly' in psi_mi_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (TAXONOMY)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in taxonomy_result.stderr or 'failed' in taxonomy_result.stderr or 'is not formatted correctly' in taxonomy_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (ATHALIANA)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in athaliana_result.stderr or 'failed' in athaliana_result.stderr or 'is not formatted correctly' in athaliana_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (BIND)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in bind_result.stderr or 'failed' in bind_result.stderr or 'is not formatted correctly' in bind_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (DIG)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in dig_result.stderr or 'failed' in dig_result.stderr or 'is not formatted correctly' in dig_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (FLY)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in fly_result.stderr or 'failed' in fly_result.stderr or 'is not formatted correctly' in fly_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (GENE)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in gene_result.stderr or 'failed' in gene_result.stderr or 'is not formatted correctly' in gene_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (GENPEPT)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in genpept_result.stderr or 'failed' in genpept_result.stderr or 'is not formatted correctly' in genpept_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (IPI)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in ipi_result.stderr or 'failed' in ipi_result.stderr or 'is not formatted correctly' in ipi_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (MMDB)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in mmdb_result.stderr or 'failed' in mmdb_result.stderr or 'is not formatted correctly' in mmdb_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (PDB)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in pdb_result.stderr or 'failed' in pdb_result.stderr or 'is not formatted correctly' in pdb_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (REFSEQ)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in refseq_result.stderr or 'failed' in refseq_result.stderr or 'is not formatted correctly' in refseq_result.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (UNIPROT)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in uniprot.stderr or 'failed' in uniprot.stderr or 'is not formatted correctly' in uniprot.stderr"
      ignore_errors: true

    - name: Fail the task when conditions are met (YEAST)
      fail:
        msg: "Failed"
      when: "'citation suppressed' in yeast_result.stderr or 'failed' in yeast_result.stderr or 'is not formatted correctly' in yeast_result.stderr"
      ignore_errors: true