---
- name: Irunpack
  hosts: localhost
  become: yes

  tasks:
    - name: Install unzip
      apt:
        name: unzip
        state: present

    - name: Unpack BIND_TRANSLATION
      command: "./irunpack BIND_TRANSLATION"
      args:
        chdir: "/home/irefindex/usr/bin"
      ignore_errors: true
      register: bind_translation_result
      async: 30
      poll: 0

    - name: Unpack BIOGRID
      command: "./irunpack BIOGRID"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: biogrid_result
      ignore_errors: true
      async: 120
      poll: 0

    - name: Unpack CORUM
      command: "./irunpack CORUM"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: corum_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack DIP
      command: "./irunpack DIP"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: dip_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack HPRD
      command: "./irunpack HPRD"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: hrpd_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack INTACT
      command: "./irunpack INTACT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: intact_result
      ignore_errors: true
      async: 180
      poll: 0

    - name: Unpack INTCOMPLEX
      command: "./irunpack INTCOMPLEX"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: intcomplex_result
      ignore_errors: true
      async: 60
      poll: 0

    - name: Unpack MPACT
      command: "./irunpack MPACT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mpact_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack MPPI
      command: "./irunpack MPPI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mppi_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack BAR
      command: "./irunpack BAR"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: bar_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack BHF_UCL
      command: "./irunpack BHF_UCL"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: bhf_ucl_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack HPIDB
      command: "./irunpack HPIDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: hpidb_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack HURI
      command: "./irunpack HURI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: huri_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack INNATEDB
      command: "./irunpack INNATEDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: innatedb_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack IMEX
      command: "./irunpack IMEX"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: imex_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack MBINFO
      command: "./irunpack MBINFO"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mbinfo_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack MPIDB
      command: "./irunpack MPIDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mpidb_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack MINT
      command: "./irunpack MINT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mint_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack MATRIXDB
      command: "./irunpack MATRIXDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: matrixdb_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack QUICKGO
      command: "./irunpack QUICKGO"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: quickgo_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack REACTOME
      command: "./irunpack REACTOME"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: reactome_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack VIRUSHOST
      command: "./irunpack VIRUSHOST"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: virushost_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack UNIPROTPP
      command: "./irunpack UNIPROTPP"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: uniprotpp_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack PSI_MI
      command: "./irunpack PSI_MI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: psi_mi_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack TAXONOMY
      command: "./irunpack TAXONOMY"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: taxonomy_result
      ignore_errors: true
      async: 30
      poll: 0
      # gzip: stdin: invalid compressed data--format violated
      # tar: Unexpected EOF in archive
      # tar: Error is not recoverable: exiting now
      # strange!!

    - name: Unpack ATHALIANA
      command: "./irunpack ATHALIANA"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: athaliana_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack DIG
      command: "./irunpack DIG"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: dig_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack BIND
      command: "./irunpack BIND"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: bind_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack FLY
      command: "./irunpack FLY"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: fly_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack IPI
      command: "./irunpack IPI"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: ipi_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack GENE
      command: "./irunpack GENE"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: gene_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack GENPEPT
      command: "./irunpack GENPEPT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: genpept_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack MMDB
      command: "./irunpack MMDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: mmdb_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack PDB
      command: "./irunpack PDB"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: pdb_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack REFSEQ
      command: "./irunpack REFSEQ"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: refseq_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack UNIPROT
      command: "./irunpack UNIPROT"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: uniprot_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Unpack YEAST
      command: "./irunpack YEAST"
      args:
        chdir: "/home/irefindex/usr/bin"
      register: yeast_result
      ignore_errors: true
      async: 30
      poll: 0

    - name: Wait for BIND_TRANSLATION to complete
      async_status:
        jid: "{{ bind_translation_result.ansible_job_id }}"
      register: job_result_1
      until: job_result_1.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for BIOGRID to complete
      async_status:
        jid: "{{ biogrid_result.ansible_job_id }}"
      register: job_result_2
      until: job_result_2.finished
      ignore_errors: true
      retries: 8
      delay: 15

    - name: Wait for CORUM to complete
      async_status:
        jid: "{{ corum_result.ansible_job_id }}"
      register: job_result_3
      until: job_result_3.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for DIP to complete
      async_status:
        jid: "{{ dip_result.ansible_job_id }}"
      register: job_result_4
      until: job_result_4.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for HPRD to complete
      async_status:
        jid: "{{ hrpd_result.ansible_job_id }}"
      register: job_result_5
      until: job_result_5.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for INTACT to complete
      async_status:
        jid: "{{ intact_result.ansible_job_id }}"
      register: job_result_6
      until: job_result_6.finished
      ignore_errors: true
      retries: 6
      delay: 30

    - name: Wait for INTCOMPLEX to complete
      async_status:
        jid: "{{ intcomplex_result.ansible_job_id }}"
      register: job_result_7
      until: job_result_7.finished
      ignore_errors: true
      retries: 6
      delay: 10

    - name: Wait for MPACT to complete
      async_status:
        jid: "{{ mpact_result.ansible_job_id }}"
      register: job_result_8
      until: job_result_8.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for MPPI to complete
      async_status:
        jid: "{{ mppi_result.ansible_job_id }}"
      register: job_result_9
      until: job_result_9.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for BAR to complete
      async_status:
        jid: "{{ bar_result.ansible_job_id }}"
      register: job_result_10
      until: job_result_10.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for BHF_UCL to complete
      async_status:
        jid: "{{ bhf_ucl_result.ansible_job_id }}"
      register: job_result_11
      until: job_result_11.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for HPIDB to complete
      async_status:
        jid: "{{ hpidb_result.ansible_job_id }}"
      register: job_result_12
      until: job_result_12.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for HURI to complete
      async_status:
        jid: "{{ huri_result.ansible_job_id }}"
      register: job_result_13
      until: job_result_13.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for IMEX to complete
      async_status:
        jid: "{{ imex_result.ansible_job_id }}"
      register: job_result_14
      until: job_result_14.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for INNATEDB to complete
      async_status:
        jid: "{{ innatedb_result.ansible_job_id }}"
      register: job_result_15
      until: job_result_15.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for MATRIXDB to complete
      async_status:
        jid: "{{ matrixdb_result.ansible_job_id }}"
      register: job_result_16
      until: job_result_16.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for MBINFO to complete
      async_status:
        jid: "{{ mbinfo_result.ansible_job_id }}"
      register: job_result_17
      until: job_result_17.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for MINT to complete
      async_status:
        jid: "{{ mint_result.ansible_job_id }}"
      register: job_result_18
      until: job_result_18.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for MPIDB to complete
      async_status:
        jid: "{{ mpidb_result.ansible_job_id }}"
      register: job_result_19
      until: job_result_19.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for QUICKGO to complete
      async_status:
        jid: "{{ quickgo_result.ansible_job_id }}"
      register: job_result_20
      until: job_result_20.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for REACTOME to complete
      async_status:
        jid: "{{ reactome_result.ansible_job_id }}"
      register: job_result_21
      until: job_result_21.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for UNIPROTPP to complete
      async_status:
        jid: "{{ uniprotpp_result.ansible_job_id }}"
      register: job_result_22
      until: job_result_22.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for VIRUSHOST to complete
      async_status:
        jid: "{{ virushost_result.ansible_job_id }}"
      register: job_result_23
      until: job_result_23.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for PSI_MI to complete
      async_status:
        jid: "{{ psi_mi_result.ansible_job_id }}"
      register: job_result_24
      until: job_result_24.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for TAXONOMY to complete
      async_status:
        jid: "{{ taxonomy_result.ansible_job_id }}"
      register: job_result_25
      until: job_result_25.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Fail the task when conditions are met (TAXONOMY)
      assert:
        that:
          - "'gzip: stdin: invalid compressed data--format violated' not in job_result_25.stderr"
          - "'tar: Unexpected EOF in archive' not in job_result_25.stderr"
          - "'tar: Error is not recoverable: exiting now' not in job_result_25.stderr"
        fail_msg: "Failed"
      when: job_result_25.rc == 0

    - name: Wait for ATHALIANA to complete
      async_status:
        jid: "{{ athaliana_result.ansible_job_id }}"
      register: job_result_26
      until: job_result_26.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for BIND to complete
      async_status:
        jid: "{{ bind_result.ansible_job_id }}"
      register: job_result_27
      until: job_result_27.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for DIG to complete
      async_status:
        jid: "{{ dig_result.ansible_job_id }}"
      register: job_result_28
      until: job_result_28.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for FLY to complete
      async_status:
        jid: "{{ fly_result.ansible_job_id }}"
      register: job_result_29
      until: job_result_29.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for GENE to complete
      async_status:
        jid: "{{ gene_result.ansible_job_id }}"
      register: job_result_30
      until: job_result_30.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for GENPEPT to complete
      async_status:
        jid: "{{ genpept_result.ansible_job_id }}"
      register: job_result_31
      until: job_result_31.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for IPI to complete
      async_status:
        jid: "{{ ipi_result.ansible_job_id }}"
      register: job_result_32
      until: job_result_32.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for MMDB to complete
      async_status:
        jid: "{{ mmdb_result.ansible_job_id }}"
      register: job_result_33
      until: job_result_33.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for PDB to complete
      async_status:
        jid: "{{ pdb_result.ansible_job_id }}"
      register: job_result_34
      until: job_result_34.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for REFSEQ to complete
      async_status:
        jid: "{{ refseq_result.ansible_job_id }}"
      register: job_result_35
      until: job_result_35.finished
      ignore_errors: true
      retries: 6
      delay: 5

    - name: Wait for UNIPROT to complete
      async_status:
        jid: "{{ uniprot_result.ansible_job_id }}"
      register: job_result_36
      until: job_result_36.finished
      ignore_errors: true
      retries: -1
      delay: 5

    - name: Wait for YEAST to complete
      async_status:
        jid: "{{ yeast_result.ansible_job_id }}"
      register: job_result_37
      until: job_result_37.finished
      ignore_errors: true
      retries: 6
      delay: 5